# Logs
logs
*.log

# Dependency directories
node_modules/
jspm_packages/

# TypeScript v1 declaration files
typings/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.env.local

# parcel-bundler cache (https://parceljs.org/)
.cache

# Next.js build output
.next
.next/

# Nuxt.js build / generate output
.nuxt
dist

# Gatsby files
.cache/

